*{
    font-family: sans-serif;
}

h3{
    font-family: sans-serif;
    font-weight:400;
}

.form-container{
    text-align:center;
    margin:0 auto;
}

#step-form button{
    background-color: #669abf;
    color: #ffffff;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    cursor: pointer;
}

#step-form input{
/*    font-size: 18px;
    padding: 15px;*/
    border-radius: 50px;
    border: 0;
    box-shadow: inset 0 0 6px 0px #797878;
}

#step-form p{
    font-size: 24px;
    width: 80%;
    margin: 20px auto;
}

#step-form div{
    margin-bottom: 100px;
}

/*#step-form input:focus{
    border-radius:10px;
    box-shadow: inset 0 0 6px 0px #3460c3;
    outline:none;
}*/

.notification{
    position: relative;
    padding:10px;
    width:20%;
    margin:0 auto;
    border-radius: 20px;
    background-color: #ccc;
    top:30px;
    text-transform: capitalize;
}

.save{
    background-color: #52c752;
}

.hide{
    display:none;
}

@-webkit-keyframes showAnimation{
    0%{opacity: 0;}
    20%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 0;}
}

@keyframes showAnimation{
    0%{opacity: 0;}
    20%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 0;}
}

.animate{
    -webkit-animation-name: showAnimation;
            animation-name: showAnimation;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    opacity:0;
}

.radio{
    height: 65px;
    width: 65px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    box-sizing: border-box;
    margin:10px 30px;
}

.radio:checked{
    border: 32.5px solid #aac6f1!important;
    box-shadow: none!important;
    transition: border-width .3s ease
}

label .radio-label{
    font-size: 28px;
    position: relative;
    bottom: 32px;
    left: -70px;
    color: #989898;
    z-index: -1;
}

.more-info{
    padding: 8px 16px!important;
    margin:5px;

}

.more-info:after{
    position: absolute;
    background-color: #eee;
    border-radius: 20px;
    color: #333;
    -webkit-transform: translateX(-250px) translateY(-20px);
    transform: translateX(-250px) translateY(-20px);
    padding: 12px 25px;
    opacity: 0;
    transition: opacity .5s ease;
    line-height: 1.4;
    text-align: left;
    display:none;
}

.more-info:focus:after{
    opacity:1;
    display:initial;
}

#active-supervision.more-info:after{
    content: "Effective active supervision includes systematic scanning, unpredictable movement, and interactions spread across students.";
}

#opportunities.more-info:after{
    content: "Effective OTRs provide opportunities to various numbers of students using various opportunity and response modalities.)";
}

#praise.more-info:after{
    content: "Effective specific praise names the behavior and is contingent, genuine, and contextually/culturally appropriate.";
}

#log{
    width: 40%;
    margin: 30px auto;
    text-align: center;
}

.agree{
    position: relative;
    bottom: 30px;
}

