*{
    font-family: sans-serif;
}

h3{
    font-family: sans-serif;
    font-weight:400;
}

.form-container{
    text-align:center;
    margin:0 auto;
    max-width: 700px;
}

#step-form button{
    background-color: #669abf;
    color: #ffffff;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    cursor: pointer;
}

#step-form input{
    font-size: 18px;
    /*padding: 15px;*/
    border-radius: 50px;
    border: 0;
    box-shadow: inset 0 0 6px 0px #797878;
}

#step-form p{
    font-size: 22px;
    margin: 0px auto;
}

/*#step-form div{
    margin-bottom: 60px;
}*/
.question{
    margin-bottom:60px;
}

/*#step-form input:focus{
    border-radius:10px;
    box-shadow: inset 0 0 6px 0px #3460c3;
    outline:none;
}*/

.notification{
    position: relative;
    padding:10px;
    width:20%;
    margin:0 auto;
    border-radius: 20px;
    background-color: #ccc;
    top:30px;
    text-transform: capitalize;
}

.save{
    background-color: #52c752;
}

.hide{
    display:none;
}

@-webkit-keyframes showAnimation{
    0%{opacity: 0;}
    20%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 0;}
}

@keyframes showAnimation{
    0%{opacity: 0;}
    20%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 0;}
}

.animate{
    -webkit-animation-name: showAnimation;
            animation-name: showAnimation;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    opacity:0;
}

.radio{
    height: 65px;
    width: 65px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    box-sizing: border-box;
    margin:10px 15px;
}

.radio:checked{
    border: 32.5px solid #aac6f1!important;
    box-shadow: none!important;
    transition: border-width .3s ease
}

label .radio-label{
    font-size: 28px;
    position: relative;
    bottom: 32px;
    left: -57px;
    color: #989898;
    z-index: -1;
}

.more-info{
    padding: 8px 16px!important;
    margin:5px;

}

.more-info:after{
    position: absolute;
    background-color: #eee;
    border-radius: 20px;
    color: #333;
    -webkit-transform: translateX(-250px) translateY(-20px);
    transform: translateX(-250px) translateY(-20px);
    padding: 12px 25px;
    opacity: 0;
    transition: opacity .5s ease;
    line-height: 1.4;
    text-align: left;
    display:none;
}

.more-info:focus:after{
    opacity:1;
    display:initial;
}

#active-supervision.more-info:after{
    content: "Effective active supervision includes systematic scanning, unpredictable movement, and interactions spread across students.";
}

#opportunities.more-info:after{
    content: "Effective OTRs provide opportunities to various numbers of students using various opportunity and response modalities.)";
}

#praise.more-info:after{
    content: "Effective specific praise names the behavior and is contingent, genuine, and contextually/culturally appropriate.";
}
#physical.more-info:after{
    content: "Physical arrangement (seating assignments, furniture arrangement, etc.) is designed to maximize structure and minimize distraction.";
}
#routines.more-info:after{
    content: "Students demonstrate fluency with routines, educator provides lesson plans, and/or educator references previously taught routines.";
}
#prompt-expectations.more-info:after{
    content: "Students demonstrate fluency with expectations, educator provides lesson plans, and/or educator references previously taught expectations. Effective prompts are delivered before a behavior is expected and make it more likely for students to engage in appropriate behavior for the given activity/environment.";
}
#strategies.more-info:after{
    content: "Additional consequence strategies may include classroom systems to acknowledge appropriate behavior or consequences to respond to inappropriate behavior; effective implementation is consistent, systematic, and accompanied by behavior-specific feedback.";
}

#log{
    width: 40%;
    margin: 30px auto;
    text-align: center;
    background-color: #eaeaea;
    padding: 20px;
    border: 1px solid #333;
}

.agree{
    position: relative;
    bottom: 30px;
    font-size: 18px;
}

.text-input{
    padding: 15px 30px;
    font-size: 20px;
}

.stack{
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 300px;
    margin: 0 auto;
}

#time{
    width: 15%;
}

.row{
    display: flex;
    flex-direction: row;
}

#top-part{
    width: 100%;
    margin: 0 auto;
}
.question p{
    line-height:1.9;
}

#checklist{
    margin-top: 150px;
}

.checklist-item{
    display:flex;
    justify-content:space-between;
    padding-bottom:20px;
}
.checklist-text{
    width:75%;
    text-align:left;
    line-height:30px;
    display:flex;
    justify-content:space-between;
}
.yesno{
    width:25%;
}
.checklist-text-p{
    width:90%;
}
.checklist-info{
    width:50px;
    height:40px;
}

/*----------------Radio Colors--------------*/

/*
#ffa69199
#ffb93575
#fbff5669
#98e4a296
*/



